*
!.gitignore
!WORKFLOW.md
!agent-ruleset.json
!AGENTS.md
!README.md
!LICENSE
!agent-rules-local/
!agent-rules-local/**
!.github/
!.github/**
!.githooks/
!.githooks/**
!pull-all.cmd
!CHANGELOG.md
!SECURITY.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!scripts/
!scripts/**
!.tasks.jsonl

# agent settings
!.gemini
!.gemini/**
.env
start.ps1
.env
