*
!.gitignore
!agent-ruleset.json
!AGENTS.md
!README.md
!LICENSE
!agent-rules-local/
!agent-rules-local/**
!.github/
!.github/**
!.githooks/
!.githooks/**
!CHANGELOG.md
!SECURITY.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!scripts/
!scripts/**
